body{
	margin: 0;
	background: black;
}

.frame{

}
.header{
	background: none;
	height: 777px;
	width: 1920px;
	margin-top: -777px;
}
.picture-header{
	background: gray;
	height: 777px;
	width: 1920px;
}
.icon-header{
	width: 200px;
	height: 85px;
	margin-top: -5px;
}
.heading{
	background: none;
	width: 1920px;
	height: 70px;
	display: flex;
}
.text-margin{
	font-size: 25px;
	font-family: calibri;
	margin-left: 90px;
	margin-top: 25px;
	color: white;
}
.text-links{
	font-size: 25px;
	font-family: calibri;
	margin-left: 90px;
	margin-top: 8px;
	text-decoration: none;
	padding: 1rem 1.5rem;
	background: none;
	color: white;
}
.text-links:hover{
	text-decoration: underline;
}
.btn-header{
	height: 50px;
	margin-left: 400px;
	margin-top: 5px;
	font-family: calibri;
	display: inline-block; 
    background: none; 
    color: white; 
    padding: 1rem 1.5rem; 
    text-decoration: none; 
    border-radius: 5px;
    border-color: white;
    font-size: 15px;
}
.btn-header:hover{
	color: gray;
}

.banner-header{
	background: none;
	height: 303px;
	width: 973px;
	margin-top: 101px;
}
.text-banner-header{
	font-size: 50px;
	font-family: Arial;
	color: white;
	margin-left: 60px;
}
.btn-banner-header{
	margin-left: 60px;
	font-family: Arial;
	display: inline-block; 
    background: none; 
    color: white; 
    padding: 1rem 1.5rem; 
    text-decoration: none; 
    border-radius: 5px;
    border-color: white;
    font-size: 15px;
}
.btn-banner-header:hover{
	color: gray;
}

.latest-news-header{
	background: none;
	height: 20px;
	width: 250px;
	margin-top: 60px;
	margin-left: 590px;
}
.latest-news{
	background: none;
	margin-top: 5px;
	height: 258px;
	width: 774px;
	margin-left: 590px;
	display: flex;
}
.text-news{
	color: white;
	margin-left: 5px;
	font-size: 17px;
	font-family: calibri;
}
.img-header{
	background: none;
	margin-top: 10px;
	margin-left: 10px;
	
}
.img-header2{
	background: none;
	margin-top: 10px;
	margin-left: 27px;
	height: 100px;
	width: 220px;
}
.text-img-header{
	height: 100px;
	width: 220px;
	font-family: Arial;
	margin-left: 30px;
	color: rgba(255,255,255,.7);
}
.text-img-header2{
	height: 100px;
	width: 220px;
	font-family: Arial;
	margin-left: 12px;
	color: rgba(255,255,255,.7);
}

.frame2{
	height: 840px;
	width: 2200px;
	margin-top: 80px;
}
.picture-bnr{
	background: gray;
	margin-top: 200px;
	height: 900px;
	width: 1920px;
}
.description{
	background: none;
	height: 600px;
	width: 1920px;
	margin-top: 0px;
}
.bnr{
	background: none;
	height: 500px;
	width: 880px;
	margin-left: auto;
	margin-right: auto;
	color: #fff;
	font-size: 100px;
	margin-top: -500px;
}
.minor{
	color: #E2DACE90;
	font-family: calibri;
	font-size: 60px;
	text-align: center;
}
.minor-br{
	color: #fff;
	font-family: calibri;
	font-size: 83px;
	text-align: center;
}
.text-bnr{
	text-align: center;
	font-family: Arial;
	display: flex;
	font-size: 26px;
	color: #e2dace;
}

.roles{
	background: none;
	height: 890px;
	width: 1920px;
	margin-top: 90px;
}
.header-roles{
	background: none;
	height: 70px;
	width: 973px;
	margin-left: auto;
	margin-right: auto;
}
@font-face{
	src: url(21008.ttf);
	font-family: calibri;
}
.title{
	font-family: calibri;
	font-size: 50px;
	text-align: center;
	color: white;
}
.roles-bnr{
	background: none;
	margin-left: 10px;
	margin-top: 100px;
	height: 444px;
	width: 1900px;
	display: flex;
}
.roles-kerry{
	background: none;
	margin-left: 0px;
	height: 444px;
	width: 320px;
	border-radius: 10px;
}
.roles-mider{
	background: none;
	margin-left: 70px;
	height: 444px;
	width: 320px;
}
.roles-hardliner{
	background: none;
	margin-left: 70px;
	height: 444px;
	width: 320px;
}
.roles-seven-support{
	background: none;
	margin-left: 70px;
	height: 444px;
	width: 320px;
}
.roles-full-support{
	background: none;
	margin-left: 70px;
	height: 444px;
	width: 320px;
}
.img-roles{
	height: 444px;
	width: 370px;
	margin-left: -35px;
}
.roles-text{
	background: none;
	margin-left: 10px;
	margin-top: 10px;
	height: 200px;
	width: 1900px;
	display: flex;
}
.bnr-kerry-text{
	background: none;
	margin-left: 0px;
	height: 200px;
	width: 320px;
}
.bnr-text-roles{
	background: none;
	margin-left: 70px;
	height: 200px;
	width: 320px;
}
.title2{
	font-family: calibri;
	font-size: 40px;
	text-align: center;
	color: #A9A9A9;
}
.text-roles{
	font-family: Arial;
	font-size: 25px;
	text-align: center;
	color: #E2DACE90;
}

.video-bnr{
	background: none;
	height: 750px;
	width: 1920px;
	margin-top: 100px;
}
.video-header{
	background: none;
	height: 70px;
	width: 973px;
	margin-left: auto;
	margin-right: auto;
}
.video-text{
	font-size: 35px;
	font-family: calibri;
	text-align: center;
	color: #696969;
}
.video1{
	width: 800px;
	height: 450px;
	margin-top: 120px;
	margin-left: 30px;
}
.video2{
	width: 800px;
	height: 450px;
	margin-top: 120px;
	margin-left: 250px;
}
.tags-bnr{
	background: none;
	margin-top: 0px;
	height: 200px;
}
.tags-header{
	background: none;
	height: 30px;
	margin-top: -10px;
}
.valve_logo{
	margin-left: 700px;
	height: 30px;
}
.dota_footer_logo{
	margin-left: 200px;
	height: 30px;
}
.text-tags{
	background: none;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	margin-top: 40px;
}
.text-tgs{
	color: #A9A9A9;
	text-align: center;
}


